:root{
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}
*{
    margin:0cm;
    padding:0cm;
}

    
body{
    background-color:var(--main-background) ;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    background-color: var(--card-background);
    height: 11.5cm;
    width: 14cm;
    border-top-left-radius: 0.3cm;
    border-bottom-left-radius: 0.3cm;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-para{
    display: inline-block;
    margin-top: 60px;
    margin-left: 60px;
    text-align:start;
}
.main-para h1{
    color: var(--White);
    font-size: 0.96cm;
    font-family: inter;
    font-variation-settings: "wght" 700;
}
.main-para h1 span{
    color: var(--accent);
}
.main-para p{
    color: var(--main-paragraph);
    font-family: inter;
    font-size: 15px;
    line-height: 0.7cm;
    font-variation-settings: "wght" 400;
    margin-top: 0.8cm;
}
.stats-heading{
    margin-top: 1.5cm;
}
.stats-heading .stats{
    list-style: none;
    display:flex;
    justify-content: space-between;
    margin-left:60px;
    color: white;
    line-height: 0.7cm;
}
.stats-heading .stats .stats-number{
    font-size: 0.70cm;
    font-family: inter;
    font-variation-settings: "wght" 700;
}
.stats-heading .stats .stats-text{
    font-size:0.4cm;
    color: var(--stat-headings);
    text-transform: uppercase;
    font-family: inter;
    font-variation-settings: "wght" 400;
}
#queries{
    margin-right: 4cm;
}
.right-img{
    height:11.5cm ;
    width:14cm ;
    background-image: linear-gradient(rgba(122, 52, 165, 0.5),rgba(122, 52, 165, 0.5)), url(/image/image-header-desktop.jpg);
    border-top-right-radius: 0.3cm;
    border-bottom-right-radius: 0.3cm;
}
.br{
    display:none;
}

@media screen and (max-width: 625px) {
    body{
        flex-direction: column-reverse;
        width: auto;
        
    }
    .container{
      height: 15cm;  
      width: 8cm;
      border-radius: 0cm 0cm 0.3cm 0.3cm ;
    }
    .right-img{
        background-image:linear-gradient(rgba(122, 52, 165, 0.5),rgba(122, 52, 165, 0.5)), url(/image/image-header-mobile.jpg);
        background-size:100%;
        width: 8cm;
        height: 5.87cm;
        border-radius: 0.3cm 0.3cm 0cm 0cm;
    }
    .main-para{
        margin: 1cm 0 0 0;
       text-align: center;
    }
    .main-para h1{
        margin:0 auto 0 auto;
        width: 7cm;
        font-size: 0.7cm;
    }
    .main-para p{
        font-size: 14px;
        margin-top: 0.4cm;
    }
    .br{
        display:block;
    }
    .br2{
        display: none;
    }
    .stats-heading{
        margin-top: 1cm;
    }
    .stats-heading .stats{
        margin-left: 0px;
        display:list-item;
    }
    .stats-heading li{
        text-align: center;
    }
    #templates{
        margin-top: 0.8cm;
    }
    #queries{
        margin-top: 0.8cm;
        margin-right: 0;
    }
    .stats-heading .stats .stats-text{
        font-size:0.35cm;
    }
    .stats-heading .stats .stats-number{
        font-size: 0.6cm;
    }
}